/* .TopNavbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 99;
  background: rgba(10, 10, 30, 0.6);
  backdrop-filter: blur(10px);
  border-bottom: 2px solid var(--florecent-blue);
  box-shadow: 0 4px 20px rgba(0, 255, 255, 0.1);
}
.TopNavbar__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
}
.Topnavbar__logoItem {
  font-size: 26px;
  font-weight: bold;
  color: #66fcf1;
  text-decoration: none;
  text-shadow: 0 0 10px #66fcf1;
  font-family: "Audiowide", sans-serif;
}
.Topnavbar__logoItem:hover {
  color: #00d1ff;
  text-shadow: 0 0 20px #00d1ff;
}
.Topnavbar__menuItems {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.Topnavbar__menuItem,
.Topnavbar__loginItem {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  border-radius: 10px;
  transition: background 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  padding: 0.6rem 1.1rem;
}
.Topnavbar__menuItem:hover .Topnavbar__dropDown {
  visibility: visible;
}
.Topnavbar__dropDown {
  display: flex;
  visibility: hidden;
  flex-direction: column;
  position: absolute;
  top: 2.45rem;
  left: 0;
  background: rgba(10, 10, 30, 0.95);
  backdrop-filter: blur(6px);
  border-radius: 10px;
  box-shadow: 0 0 12px #00ffff88;
  padding: 10px 0;
  width: 15rem;
  z-index: 100;
}
.Topnavbar__dropDown__Item {
  color: white;
  text-decoration: none;
  display: block;
  transition: background 0.2s;
  padding: 0.5rem;
}
.Topnavbar__dropDown__Item:hover {
  background: #66fcf133;
  border-radius: 6px;
}

.Topnavbar__menuItem:hover,
.Topnavbar__loginItem:hover {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 10px #00ffea;
  color: #66fcf1;
}
.activeLink {
  background: #66fcf1;
  color: #1a0033;
  box-shadow: 0 0 10px #66fcf1;
}
.searchIcon {
  margin-left: 5px;
}

.Topnavbar__profileItem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--white);
  font-size: 1.2rem;
  border-radius: 10px;
  transition: background 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}
.Topnavbar__profileItem:hover .profile__dropDown {
  visibility: visible;
}
.profile__dropDown {
  display: flex;
  visibility: hidden;
  flex-direction: column;
  position: absolute;
  top: 3rem;
  background: rgba(10, 10, 30, 0.95);
  backdrop-filter: blur(6px);
  border-radius: 10px;
  box-shadow: 0 0 12px #00ffff88;
  padding: 10px 0;
  width: 15rem;
  z-index: 200;
}
.Topnavbar__profileDropDown__item {
  color: white;
  text-decoration: none;
  display: block;
  transition: background 0.2s;
  padding: 0.5rem;
}
.Topnavbar__profileDropDown__item:hover {
  background: #66fcf133;
  border-radius: 6px;
}

.profileImg {
  width: 3rem;
  border-radius: 50%;
} */
