.all-games-container {
  padding: 0;
  margin: 0 auto;
  max-width: 1800px;
  text-align: center;
}

.all-games-title {
  font-size: 2.6rem;
  margin-bottom: 4rem;
  font-family: "Audiowide", sans-serif;
  color: #00f0ff;
  text-shadow: 0 0 10px #00f0ff, 0 0 20px #00f0ff88;
}

.all-games-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 2rem;
  justify-items: center;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
