.calendar-widget {
  width: 100%;
  height: 100%;
  padding: 8px;
  background: rgba(30, 30, 30, 0.7);
  border-radius: 12px;
  overflow: hidden;
}

.react-calendar {
  background: transparent;
  border: none;
  color: #fff;
}

.react-calendar__tile--now {
  background: #222;
  color: #fff;
  border-radius: 50%;
}

.event-day {
  background: #ffd700 !important;
  color: #222 !important;
  border-radius: 50%;
  position: relative;
}

/* .marked-date {
  background: #00bcd4;
  color: white;
  border-radius: 50%;
} */
.react-calendar__tile--active {
  background: #00ffff !important;
  color: #000 !important;
  border-radius: 50%;
}
