.event-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-event {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  gap: 2rem;
  padding: 1rem;
  scroll-snap-type: x mandatory;
}

.next-event {
  scroll-snap-align: center;
  min-width: 250px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(0, 255, 255, 0.2);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  padding: 1.5rem;
  color: #fff;
  text-align: center;
  box-shadow: 0 0 25px rgba(0, 255, 255, 0.15);
  transition: transform 0.3s ease;
}

.next-event h3 {
  font-family: "Audiowide", sans-serif;
  color: #00ffff;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.next-event h2 {
  font-size: 1rem;
  color: #ff66ff;
  margin-top: 1rem;
}

.next-event:hover {
  transform: scale(1.05);
}
