/* NUEVO: Card modular */
.modular-card-friends-online-card {
  background: rgba(24, 28, 43, 0.55);
  border-radius: 18px;
  box-shadow: 0 0 24px #00ffc822, 0 2px 8px #000a;
  backdrop-filter: blur(10px);
  padding: 1.2rem 1.5rem;
  height: 700px;
  width: 100%;
  transition: box-shadow 0.2s;
}

.modular-card-header {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  margin-bottom: 1rem;
}

.modular-card-icon {
  font-size: 1.5rem;
  color: #66fcf1;
}

.modular-card-content {
  min-height: 48px;
}

.friends-list {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  width: 220px;
}

/* Reutiliza estos estilos */
.friend-item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  background: rgba(255, 255, 255, 0.05);
  padding: 0.5rem;
  border-radius: 12px;
  margin-bottom: 0.75rem;
  transition: background 0.3s ease;
}

.friend-item:hover {
  background: rgba(255, 255, 255, 0.12);
}

.friend-online-avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #00ffcc;
}

.friend-online-name {
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  text-overflow: ellipsis; /* Añade los puntos supensivos*/
  white-space: nowrap; /* Evista qeu salte de linea si es largo*/
}

.avatar-online-wrapper,
.avatar-online.wrapper {
  position: relative;
  display: inline-block;
}

.online-indicator {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: #00ff55;
  border: 2px solid #121212;
  border-radius: 50%;
  box-shadow: 0 0 6px #00ff55;
}

/* .friends-online-widget {
  padding: 1rem;
  border-radius: 16px;
  background: linear-gradient(
    135deg,
    rgba(10, 15, 30, 0.8),
    rgba(30, 40, 60, 0.85)
  );
  backdrop-filter: blur(10px);
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.15);
  color: #ffffff;
  font-family: "Audiowide", sans-serif;
  height: 100%;
  overflow-y: auto;
}

.friends-online-widget h3 {
  font-size: 1.1rem;
  align-self: center;
  margin-bottom: 1rem;
  text-shadow: 0 0 5px #00f6ff;
  letter-spacing: 0.5px;
}

.friends-online-widget p {
  font-size: 0.95rem;
  color: #ccc;
  opacity: 0.8;
}

.friend-item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  background: rgba(255, 255, 255, 0.05);
  padding: 0.5rem;
  border-radius: 12px;
  margin-bottom: 0.75rem;
  transition: background 0.3s ease;
}

.friend-item:hover {
  background: rgba(255, 255, 255, 0.12);
}

.friend-online-avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #00ffcc;
}

.friend-online-name {
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
}

.avatar-online-wrapper {
  position: relative;
  display: inline-block;
}

.online-indicator {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: #00ff55;
  border: 2px solid #121212;
  border-radius: 50%;
  box-shadow: 0 0 6px #00ff55;
} */
