.modular-card-friends-online-card {
  background: rgba(24, 28, 43, 0.823);
  border-radius: 16px;
  box-shadow: 0 0 24px #00ffc857, 0 2px 8px rgba(0, 214, 252, 0.667);
  backdrop-filter: blur(10px);
  padding: 1rem 0.5rem;
  height: 500px;
  width: 250px;
  transition: box-shadow 0.2s;
}

.modular-card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  margin-bottom: 1rem;
}

.modular-card-icon {
  font-size: 1.5rem;
  color: #66fcf1;
}

.modular-card-content-frinds-online p {
  color: #ffffff;
  font-size: 0.9rem;
  text-align: center;
  margin-top: 1rem;
}

.modular-card-content-friends-online {
  min-height: 48px;
}

.friends-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
  /* width: 220px; */
}

.friend-item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  background: rgba(255, 255, 255, 0.05);
  padding: 0.5rem;
  border-radius: 12px;
  margin-bottom: 0.75rem;
  width: 200px;
  transition: background 0.3s ease;
}

.friend-item:hover {
  background: rgba(255, 255, 255, 0.12);
}

.friend-online-avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #00ffcc;
}

.friend-online-name {
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.avatar-online-wrapper,
.avatar-online.wrapper {
  position: relative;
  display: inline-block;
}

.online-indicator {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: #00ff55;
  border: 2px solid #121212;
  border-radius: 50%;
  box-shadow: 0 0 6px #00ff55;
}
