@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins:wght@400;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
.logo {
  font-family: "Audiowide", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: #003b5c;
  --light-blue: #0095d9;
  --light-green: #00b2a9;
  --main-yellow: #ffdd00;
  --light-orange: #ff6f61;
  --white: #f0f4f8;
  --dark-gray: rgb(69, 69, 69);
  --light-gray: rgb(205, 205, 205);
}

/* 

@font-face {
  font-family: Aladin;
  src: url("/fonts/Aladin/Aladin-Regular.ttf");
}
@font-face {
  font-family: Fascinate;
  src: url("/fonts/Fascinate_Inline/FascinateInline-Regular.ttf");
}

body {
  font-family: Aladin !important;
  font-size: 16px;
} */
